/* CSS styling for sign-in.php */
table .table-header, table th {
	background-color: rgb(192,200,255);
}

table *, table td, table th {
	border: 1px solid black;
}

table {
	border-collapse: collapse;	
	border: 1.5px solid black;
}	

* {
	color: rgb(100,0,0);
	font-family: monospace;
	padding: 2px;
}

theader {
	background-color: rgb(200,224,248);
	border: 2px solid darkCyan;
	padding: 2px;
}

body div h1 {
	color: black;
	text-align: center;
	padding: 4px;
	background-color: rgb(160,192,255);
	border: 2px inset;
}

div.hidden, .hidden {
	display: none;
}

div.dialog, div#dialogDiv {
	border: 2px inset;
}

#debugOutputDiv, div.debug {
	/* display: none; */
}